#main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.choices{
    display: inline;
    flex-direction: column;
}

.options {
    flex-basis: 27%;
    margin: 1rem;
    width: fit-content;
    border: 1px dashed rgb(141, 46, 250);
    padding: 0 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    background-color: rgb(216, 166, 245);
}

.customOrders {
    border: 1px dashed dodgerblue;
    background-color: aliceblue;
    padding: 15px;
    margin-bottom: 10px;
    font-size: large;
    max-width: 95%;
    word-spacing: 2px;
}

